*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-flex{
    display: flex;
    flex-wrap: wrap;
    
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float-right {
    float: right;
    
}

header{
    position: fixed;
    z-index: 1000;
    height: 100px;
    height: 100px;
    width: 100%;
    background-color: black;
    
}

.container{
    height: calc(100vh - 100px);
    width: 100%;
    background-color: black;

}

p{
    color: white
}

header p{
    display: inline-block;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(77, 77, 77);

}
main{
    background-color: black;
    padding: 0 80px;

}
.container-membri{
   padding-top: 100px;
   padding-bottom: 100px;
}
.container-membri div{
    position: relative;
    height: 200px;
    width: 300px;
    padding: 5px 3px;

}

.container-membri div p{
    position: absolute;
    bottom: 0;
    font-size: 20px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 7px;
}
.container-membri div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
nav{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: rgb(34, 34, 34);
}

nav{
    justify-content: space-between;
    flex-wrap: nowrap;
}

nav i{
    color: white;
    font-size: 35px;
}

nav div{
    display: inline-block;
}

.apri{
    font-size: 15px;
    vertical-align: 10px;
}

